################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
Makefile
/.vs
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
libPIRL++.*
PIRL-config.cmake
PIRL-config-version.cmake
