################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
Makefile
/.vs
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
libPIRL++.*
pirl-config.cmake
pirl-config-version.cmake
